@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Welcome</h3>
    <br/>
    <h4>This is just simple, dummy project to test database behavior. Nothing to see here...</h4>
</div>
